body {
  margin: 0;
  padding: 0;
  background-color: #000; /* solid black background, images removed */
  color: white;
  font-size: 14px;
  font-family: sans-serif;
  overflow: auto;
}
a {
  color: white;
  font-size: 14px;
}
#main {
  width: 100%;
}
#wrap {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
  aspect-ratio: 1100 / 680;
  margin-top: 10px;
  box-sizing: border-box;
  padding: 0 10px;
}
#text {
  width: 272px;
  height: 560px;
  left: 188px;
  top: 80px;
  position: absolute;
}

@media (max-width: 1100px) {
  #text {
    width: calc(24.7% - 20px);
    height: 82.4%;
    left: 17.1%;
    top: 11.8%;
  }
}
#code {
  display: none;
  color: rgb(196, 255, 255);
  font-size: 16px;
  margin-top: 70px;
  line-height: 25px;
  font-size: larger;
  font-weight: bolder;
}
#clock-box {
  position: absolute;
  left: 60px;
  top: 550px;
  font-size: 28px;
  display: none;
}

@media (max-width: 1100px) {
  #clock-box {
    left: 5.45%;
    top: 80.9%;
    font-size: clamp(16px, 2.5vw, 28px);
  }
}
#clock-box a {
  font-size: 28px;
  text-decoration: none;
}
#clock {
  margin-left: 48px;
}
#clock .digit {
  font-size: 64px;
}
#canvas {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1100px;
  display: block;
}
#error {
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
  display: none;
}
.hand {
  cursor: pointer;
}
.say {
  margin-left: 5px;
}
.space {
  margin-right: 150px;
}

#message-box{
  position: absolute;
  margin-top:450px;
  font-size: 25px;
  font-family: monospace;

}